<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container">
    <!--Card list-->
    <div class="content contact-list">
    
        <div class="card card-default">
           

             <form class="card-header align-items-center ">
                <input type="search" (ngModelChange)="buscarclientes(key.value)" #key="ngModel" ngModel
                 name="key" id="searchName" class="form-control mr-sm-2" placeholder="Buscar cliente..." required>
             </form>

            <div class="card-header align-items-center px-3 px-md-5">
                <h2>Clientes</h2>
                <button routerLink="/agregar-cliente" type="button" class="btn btn-primary" >Agregar Cliente</button>
            </div>

            <div class="card-body px-3 px-md-5">
                <div class="row">
                    <div *ngFor="let cliente of clientes" class="col-lg-6 col-xl-4 col-md-6 col-sm-12">
                        <div  class="card card-default p-4">
                            <a href="javascript:0" (click)="mostrarCliente(cliente)" class="media text-secondary"  routerLink="/editar-cliente">
                                
                                <img   src="{{cliente?.imagen}}" class="mr-3 img-fluid rounded" alt="Avatar Image" />
                                <div class="media-body">
                                    <h5 class="mt-0 mb-2 text-dark">{{cliente?.nombre}}</h5>
                                    <ul class="list-unstyled text-smoke text-smoke">
                                        
                                        <li class="d-flex">
                                            <i class="mdi mdi-email mr-1"></i>
                                            <span>{{cliente?.correo}}</span>
                                        </li>
                                        <li class="d-flex">
                                            <i class="mdi mdi-phone mr-1"></i>
                                            <span>{{cliente?.celular}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      

    
         
    </div>
</div>














